(
    model: "sponza",
    light: (
        transform: (
            position: (
                x: 0.0,
                y: 1.0,
                z: -0.4,
            ),
            rotation: (
                x: -60.0,
                y: 90.0,
                z: 0.0,
            ),
        ),
        intensity: 1000000.0,
        width: 2.0,
        height: 2.0,
        color: (
            x: 1.0,
            y: 1.0,
            z: 1.0,
        ),
    )
)
