# Demo aliases
alias demo1='prime-run cargo run --release -- --scene spointza --preset spotza-demo --config config-dimension-9'
alias demo2='prime-run cargo run --release -- --scene red-green --preset red-green-demo --config config-dimension-8'
alias demo3='prime-run cargo run --release -- --scene sponza-especular --preset el-preset-de-la-victoria-especular --config config-dimension-9'

