(
    submenus: (
        all_nodes: (
            is_showing: false,
            output: (
                should_render_octree: false,
                current_octree_level: 0,
                octree_nodes_to_visualize: Geometry,
            ),
        ),
        node_search: (
            is_showing: false,
            output: (
                selected_items: [],
                filter_text: "",
                should_show_neighbors: false,
                selected_items_updated: false,
            ),
        ),
        bricks: (
            is_showing: false,
            output: (
                brick_attribute: None,
                brick_padding: 0.0,
                bricks_to_show: (
                    show_z0: false,
                    show_z1: false,
                    show_z2: false,
                ),
                color_direction: (
                    x: 1.0,
                    y: 0.0,
                    z: 0.0,
                ),
                should_show_brick_normals: false,
            ),
        ),
        children: (
            is_showing: false,
        ),
        diagnostics: (),
        images: (
            is_showing: false,
            output: (
                toggles: (
                    should_show_color: true,
                    should_show_direct: true,
                    should_show_indirect: true,
                    should_show_indirect_specular: true,
                    should_show_ambient_occlusion: false,
                ),
            ),
        ),
        photons: (
            is_showing: false,
        ),
        save_preset: (
            name: "demo-cornel-box",
            is_showing: true,
        ),
        camera: (
            is_showing: false,
            output: (
                orthographic: false,
            ),
        ),
        cone_tracing: (
            is_showing: true,
            output: (
                show_debug_cone: false,
                move_debug_cone: false,
                shadow_cone_parameters: (
                    cone_angle_in_degrees: 1.0,
                    max_distance: 1.0,
                ),
                ambient_occlusion_cone_parameters: (
                    cone_angle_in_degrees: 0.0,
                    max_distance: 0.0,
                ),
                diffuse_cone_parameters: (
                    cone_angle_in_degrees: 40.0,
                    max_distance: 1.0,
                ),
                specular_cone_parameters: (
                    cone_angle_in_degrees: 1.0,
                    max_distance: 1.0,
                ),
                debug_cone_parameters: (
                    cone_angle_in_degrees: 1.0,
                    max_distance: 0.0,
                ),
                point_to_light: false,
                exposure: 1.0,
            ),
        ),
        picker: (
            is_showing: false,
            output: (
                is_picking: false,
            ),
        ),
    ),
    camera: (
        transform: (
            position: (
                x: -0.04177648,
                y: 0.84234077,
                z: -1.9089226,
            ),
            scale: (
                x: 1.0,
                y: 1.0,
                z: 1.0,
            ),
            rotation: (
                x: -23.399992,
                y: 89.00002,
                z: 0.0,
            ),
            movement_speed: 0.5,
        ),
        orthographic: false,
        movement_speed: 0.5,
        mouse_sensitivity: 0.1,
        zoom: 45.0,
    ),
)
