(
    submenus: (
        images: (
            is_showing: true,
            output: (
                toggles: (
                    should_show_color: true,
                    should_show_direct: true,
                    should_show_indirect: true,
                ),
            ),
        ),
    ),
    camera: (
        transform: (
            position: (
                x: -0.6671525,
                y: 0.007873838,
                z: 0.2727762,
            ),
            rotation: (
                x: -10.699999,
                y: 348.0001,
                z: 0.0,
            ),
        ),
    ),
)
