(
    submenus: (
        all_nodes: (
            is_showing: true,
            output: (
                should_render_octree: true,
                current_octree_level: 6,
            ),
        ),
    ),
)
